<li id="<%= dom_id(looping_reminder) %>">
  <span>
    <%= looping_reminder.number %>
    <% if looping_reminder.command_aliases.any? %>
      (<%= looping_reminder.command_aliases.map(&:phrase).join(", ") %>)
    <% end %>
    <% if looping_reminder.active? %>
      · active
    <% end %>
    · remind every <%= looping_reminder.interval_minutes %>
      <%= looping_reminder.interval_minutes == 1 ? "min" : "mins" %>
      '<%= looping_reminder.message %>'
      until '<%= looping_reminder.stop_phrase %>'
  </span>
</li>
